  body {
    text-align: center;
  }
  #bullet-point ul{
   list-style: none;
  }
  .iframe-container {
   position: relative;
   overflow: hidden;
   width: 98%;
   padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  .responsive-iframe {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
  }
  .linux-title {
    padding-bottom: 2%;
  }
  .footer-padding {
    padding-top: 2%;
  }
  .li-padding {
    padding-top: 1%;
  }
  .cut-off {
    max-width: 55%;
  }